html,
body {
  height: 100%;
}

body {
  background-color: #f5f5f5;

  font-family: "Roboto", sans-serif;
}

::selection {
  background: #33cd5f;
}

.main-container {
  position: relative;

  float: left;

  max-width: 400px;
  height: 100%;
  min-height: 750px;
  margin: 0;
  padding: 40px;
}

.black-bg {
  height: 100%;
  min-height: 750px;
  margin-left: 401px;

  background-color: black;
}

.img-container {
  height: inherit;

  background-color: black;
  background-image: url("../img/abstract.jpg");
  background-position: center;
  background-size: cover;
}

.header h1 {
  margin-top: 0;

  font-size: 300%;
  font-weight: 100;
  letter-spacing: 1px;
}

.main-image,
.header {
  margin-bottom: 20px;

  text-align: center;
}

.main-image img {
  width: 150px;

  border-radius: 75px;
}

.content {
  color: #333;
  font-size: 115%;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.content p {
  margin-bottom: 20px;
}

.social-icons {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  margin: 0 !important;
  padding: 0 40px 40px 40px;

  text-align: center;
}

.social-icons a {
  display: inline-block;

  padding: 0;

  font-size: 200%;
  text-decoration: none;
}

a,
a .icon:before {
  color: #2db855 !important;
}

a:hover,
a:hover .icon:before {
  color: #33cd5f !important;
  text-decoration: none !important;
}

a::selection {
  color: #ffffff;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;

  animation: fade-in ease-in 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.delay-one {
  animation-delay: 500ms;
}

.delay-two {
  animation-delay: 1s;
}

@keyframes fade-in-down {
  0% {
    opacity: 0;

    transform: translateY(-20px);
  }

  100% {
    opacity: 1;

    transform: translateY(0);
  }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;

    transform: translateY(-20px);
  }

  100% {
    opacity: 1;

    transform: translateY(0);
  }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;

    transform: translateY(-20px);
  }

  100% {
    opacity: 1;

    transform: translateY(0);
  }
}

.fade-in-down {
  opacity: 0;

  animation: fade-in-down ease-in 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
