body {
  background-color: #F5F5F5;
}
.header {
  margin-top: 40px;
}
.header h1 {
  font-weight: 100;
  font-size: 300%;
}
.header i {
  color: #777;
  font-style: normal;
}
.header .social-icons-column {
  display: table;
}
.header .social-icons {
  list-style-type: none;
  padding-bottom: 5px;
  display: table-cell;
  vertical-align: bottom;
}
.header .social-icons li {
  display: inline;
}
.header .social-icons li a {
  font-size: 150%;
  text-decoration: none;
  padding: .2em 0.5em;
}
.header .social-icons li a :before {
  color: #01579B;
}
.header .social-icons li a:hover :before {
  color: #039BE5;
}
